body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

header {
  padding: 10px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav {
  &__list {
    margin: 0;
    display: flex;
    list-style: none;
  }

  &__link {
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: #060b35;
  }

  &__item:not(:last-child) {
    margin-right: 20px;
  }
}

.logo {
  &__image {
    width: 40px;
    height: 40px;
  }
}
